<IfModule mod_expires.c>
	<FilesMatch "service-worker.js">
		ExpiresDefault "access plus 0 seconds"
	</FilesMatch>
</IfModule>

AddType font/ttf                         ttf 
AddType font/otf                         otf 
AddType font/woff                        woff 
AddType font/woff2                       woff2 
AddType application/vnd.ms-fontobject    eot

<IfModule mod_headers.c>
  <FilesMatch ".(eot|otf|svg|ttf|woff2?)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

Header set Referrer-Policy "no-referrer"

Header set Strict-Transport-Security "max-age=63072000; includeSubDomains"
# Prevent browsers from incorrectly detecting non-scripts as scripts
Header set X-Content-Type-Options "nosniff"
# Block site from being framed with X-Frame-Options and CSP
Header set Content-Security-Policy "frame-ancestors 'none'"
Header set X-Frame-Options "DENY"
# Block pages from loading when they detect reflected XSS attacks
Header set X-XSS-Protection "1; mode=block"
